<!--<h3>Role Permissions</h3>
<mat-list>
  <mat-list-item *ngFor="let permission of allPermissions">
    <mat-checkbox [checked]="hasPermission(permission.id)" (change)="selectPermission($event, permission.id)">{{permission.description}}</mat-checkbox>
  </mat-list-item>
</mat-list>-->

<h4 class="text-secondary">Role Permissions</h4>
<ul class="list-group">
  <li class="list-group-item" *ngFor="let permission of allPermissions">
    <div class="checkbox">
      <label>
        <input type="checkbox" [checked]="hasPermission(permission.id)" (change)="selectPermission($event, permission.id)"> {{permission.description}}
      </label>
    </div>
  </li>
</ul>


