<mat-card>
  <form #roleForm="ngForm" (ngSubmit)="save(roleForm.value)">
    <mat-card-header>
      <mat-card-title><h2>{{role.name ? 'Edit' : 'Add'}} Role</h2></mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <input type="hidden" name="href" [(ngModel)]="role.href">
      <mat-form-field>
        <input matInput placeholder="Role Name" [(ngModel)]="role.name"
               required name="name" #name>
      </mat-form-field>
      <app-role-permission-list [role]="role"></app-role-permission-list>
    </mat-card-content>
    <mat-card-actions>
      <button mat-raised-button color="primary" type="submit"
              [disabled]="!roleForm.form.valid">Save</button>
      <button mat-raised-button color="secondary" (click)="remove(role.href)"
              *ngIf="role.href" type="button">Delete</button>
      <a mat-button routerLink="/role-list">Cancel</a>
    </mat-card-actions>
    <mat-card-footer>
    </mat-card-footer>
  </form>
</mat-card>

