/* You can add global styles to this file, and also import other style files */
/*@import "~@angular/material/prebuilt-themes/indigo-pink.css";*/
/*@import "~@angular/material/prebuilt-themes/pink-bluegrey.css";*/
/*@import "~@angular/material/prebuilt-themes/purple-green.css";*/
/*@import '~@angular/material/prebuilt-themes/deeppurple-amber.css';*/

body {
 margin: 0;
 font-family: Roboto, sans-serif;

}

.navbar-nav{
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
}

.navbar-nav .nav-link {
   padding-right: 1rem;
   padding-left: 1rem;
}


